*{
    box-sizing: border-box;
}
body
{
    margin: 0;
    height: 100%;
}
.header
{
    padding: 15px 0;
    background-color: white;
}
.header-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.logo-content
{
    display: flex;
    flex-direction: row;
    border: 0px solid green;
    width: 80%;

}
.logo-content-img{ border: solid 0px #42515f;}
.emp_text
{
    font:normal normal bold 20px/25px Monstserrat;
    font-family:"Monstserrat" , sans-serif;
    letter-spacing: 0px;
    color: green;
    text-transform: capitalize;
}
.emp_payroll
{
    color: #42515f;
}
*{box-sizing: border-box;}