*{
    box-sizing: border-box;
}
body
{
    margin: 0;
    height: 100%;
}

.header
{
    padding: 15px 0;
    background-color: white;
}
.header-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}
.logo-content
{
    display: flex;
    flex-direction: row;
    border: 0px solid green;
    width: 80%;

}
.logo-content-img{ border: solid 0px #42515f;}
.emp_text
{
    font:normal normal bold 20px/25px Monstserrat;
    font-family:"Monstserrat" , sans-serif;
    letter-spacing: 0px;
    color: green;
    text-transform: capitalize;
}
.emp_payroll
{
    color: #42515f;
}
*{box-sizing: border-box;}
.form-content
{
     min-height: calc(100%-80px);
     background-color: #f7f7f7;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 0px solid green;
}
.form
{
    width:65%;
    padding: 44px 60px;
    background-color: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
    background-color: #ffffff;
}
.form-head
{
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}
.row-content
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}
.label{min-width: 140px;}
label{
    padding: 12px 12px 12px 0;
    display:inline-block
}
.text
{
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}
.input
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.profile-radio-content
{
    display: flex;
    flex-direction: row;
}
.profile-radio-content>label
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-radio-content{
    width: 40px;
    border-radius: 50%;
    margin-left: 12px;
}
.select
{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
}
error-output
{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color:red;
}
.buttonParent
{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}
.buttonParent{
    
    font-family: Roboto;
    letter-spacing: 0px;
    color:#42515f;
    opacity: 1;
    background: transparent;
    border: none;
    min-width: 140px;
    padding: 7px 7px;
    
    cursor: pointer;
}
.submitButtton
{
    border: none;
    background-color: #f5f5f5;
    margin-right: 30px;
}
.cancelButton
{
    text-decoration: none;
    text-align: center;
    border: 0px;
    background-color: #f5f5f5;
    color: black;
    border: 1px solid #292d30;
    padding: 1px 3px 1px 3px;
    border-radius: 3px;
}
.dept_label
{
    display: flex;
    flex-direction: row;
    background-color: #82a70c;
    border-radius: 40%;
    width: fit-content;
    padding: 1px 7px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    margin-bottom:8px
}

@media only screen and (max-width:960px)
{
    .cancelButton{margin-left: 0px;}
    .form{width: 85%;
    padding: 44px 20px;}
}
@media only screen and (max-width:600px) {
    .form{margin-top:10px}
    .row{flex-direction: column;}
    .profile-radio-content{flex-flow: wrap;}
    .submit-reset{width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;}
        .submitButtton
        {
            margin: 0;
        }
        .buttonParent{
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }